[submodule "tbtc-v2"]
	path = tbtc-v2
	url = git@github.com:rashadalh/tbtc-v2-reedemOnRedeem.git
[submodule "lib/openzeppelin-contracts"]
	path = lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "lib/openzeppelin-foundry-upgrades"]
	path = lib/openzeppelin-foundry-upgrades
	url = https://github.com/OpenZeppelin/openzeppelin-foundry-upgrades
[submodule "lib/openzeppelin-contracts-upgradeable"]
	path = lib/openzeppelin-contracts-upgradeable
	url = https://github.com/OpenZeppelin/openzeppelin-contracts-upgradeable
[submodule "keep-core"]
	path = keep-core
	url = git@github.com:rashadalh/keep-core-addsRedeemScripts.git
